<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Вход в систему элетронной почты</h1>

            <form action="{{ url_for('mail_input', search_email=search_email) }}">
                <div class="form-group">
                    <label for="search">Адрес электронной почты</label>
                    <input name="search_email" class="form-control" type="search" value="{{ search_email }}"
                           placeholder="user@rmail.ru">
                    <small id="emailHelp" class="form-text text-muted">Пожалуйста, введите полное название своей
                        электронной почты
                    </small>
                </div>
                <button type="submit" class="btn btn-success">Войти</button>
            </form>

            <p class="h4 text-left font-italic">
                <p>


        </p>
                Подсказка:
            <ul>
                {% for user in user_name %}
                <li>
                    {{ user.id }}  {{ user.email }}  {{ user.password }}

                </li>
                {% endfor %}
            </ul>
            </p>
        </div>
    </div>
</div>
</body>
</html>
