<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Общая статистика</title>
</head>
<body>
<p class="h2 text-center font-italic">СТАТИСТИКА</p>
<p class="h4 text-center font-italic">Кто с кем переписывается</p>
<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <th>Отправитель</th>
                <th>Получатель</th>
                {% for st in result_statistics1 %}
                <tr>
                    <td>{{ st.sender_id }}</td>
                    <td>{{ st.recipients }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>


<p class="h4 text-center font-italic">Кто с кем больше всего переписывается
    (кол-во отправленных/полученных)</p>
<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <th>Пользователь</th>
                <th>Пользователь</th>
                <th>Сумма писем</th>
                {% for st in result_statistics2 %}
                <tr>
                    <td>{{ st.person1 }}</td>
                    <td>{{ st.person2 }}</td>
                    <td>{{ st.num_letters }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>


<p class="h4 text-center font-italic">Кто кого игнорирует (не отвечает на письма)</p>
<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <th>Пользователь, который игнорирует</th>
                <th>Игнорируемый пользователь</th>

                {% for st in result_statistics3 %}
                {% if st.sent_by_person1 == 0 %}
                <tr>
                    <td>{{ st.person1 }}</td>
                    <td>{{ st.person2 }}</td>
                </tr>
                {% elif st.sent_by_person2 == 0 %}
                <tr>
                    <td>{{ st.person2 }}</td>
                    <td>{{ st.person1 }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
</div>


</body>
</html>
